header {
    display: flex;
}

#carousel-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

#section-container {
    display: flex;
}

#footer-nav {
    display: flex;
}