#cityPage {
    display:flex;
    width:100vw;
    margin:2em;
}

aside {
    display:flex;
    flex-direction: column;
    background-color:grey;
    align-items: flex-start;
    width:30vw;
    border: .1em solid black;
    h1 {
        margin:1em 0 0 2em;
    }
    li {
        list-style: none;
        background-color:lightgray;
        padding:1em 1.2em;
        margin:1em 0;
        width:20vw;
        border: .1em solid black;
        border-radius: 20px;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        img {
            width:5vw;
            border: .1em solid black;
        }
    }
    a {
        text-decoration: none;
        color:black;
        font-size: 1.5em;
        padding-left:1em;
    }
}

article {
    width:60vw;
    border: .1em solid black;
    .cityHeaderWrapper {
        display:flex;
        justify-content: space-around;
        height:40vh;
    }
    .cityHeaderImage {
        border: .1em solid black;
        width:40vw;
        margin:2em;
    }
    .cityHeaderText {
        margin-top:3em;
        margin-left:2em;
        width:20vw;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        h1 {
            margin:0;
        }
        h3 {
            margin: .5em 0 0 0;
        }
    }
    .postContainer {
        margin:2em;
    }
    .cityPostsHeader {
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin:0 2em;
        a {
            color:black;
            text-decoration: none;
            font-size: 3em;
        }
    }
    .postContainer {
        display:flex;
        border: .1em solid black;
        border-radius: 20px;
    }
    .postContent {
        display:flex;
        flex-direction: column;
        width:40vw;
    }
    .postImage {
        width:10vw;
        border: .1em solid black;
        margin:1em;
    }
}


#test {
    color:red;
}