body {
    user-select: none;
    -webkit-user-select: none;
}

.react-carousel__navigation-button.react-carousel__navigation-button--previous,
.react-carousel__navigation-button.react-carousel__navigation-button--next {
background: #00f;
cursor: pointer;
}