.cityHeaderWrapper {
    display:flex;
    justify-content: space-around;
    height:40vh;
    margin-bottom:3em;
}

.cityHeaderImage {
    border: .1em solid black;
    width:40vw;
    margin:2em;
    img {
        width:40vw;
        height:30vh;
        object-fit:contain;
    }
}

.cityHeaderText {
    margin-top:3em;
    margin-left:2em;
    width:20vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h1 {
        font-family:'Oranienbaum', serif;
        letter-spacing:2px;
        text-align:center;
        margin:0;
        color:rgba(255, 255, 255, 0.886);    
    }
    h3 {
        font-family:'Oranienbaum', serif;
        letter-spacing:2px;
        text-align:center;
        margin: .5em 0 0 0;
        color:rgba(255, 255, 255, 0.886);
    }
}