.cityPostsHeader {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 2em;
    a {
        color:rgba(255, 255, 255, 0.886);
        text-decoration: none;
        font-size: 3em;
    }
    h1 {
        font-family:'Oranienbaum', serif;
        letter-spacing:2px;
        text-align:center;
        color:rgba(255, 255, 255, 0.886);
    }
} 
