.cityHeaderWrapper {
    display:flex;
    justify-content: space-around;
    height:40vh;
}
.cityHeaderImage {
    border: .1em solid black;
    width:40vw;
    margin:2em;
}
.cityHeaderText {
    margin-top:3em;
    margin-left:2em;
    width:20vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    h1 {
        margin:0;
    }
    h3 {
        margin: .5em 0 0 0;
    }
}