header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:black;
    padding:.6em 0;
    h1 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 2.9em;
        text-transform: uppercase;
        margin-left:1em;
        letter-spacing:4px;
        color:#7b7b7b;
        padding:0;
        margin-bottom:0;
        &:hover {
            color:#feda6a;
        }
    }
}

#navAndSearch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
}