.Modal {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background-color: white;
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    outline:none;
    box-shadow: 3px 3px 5px black;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#signIn{
    border:none;
    font-size:1.3em;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing:2px;
    outline:none;
    background-color:black;
    color:#7b7b7b;
}

#signIn:hover{
    color:#feda6a;
}

#signUpForm {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
    input {
        width:20vw;
        margin: .3em 0;
        padding:.2em .3em;
        border:none;
        border:1px solid black;
    }
    #signUpInput {
        border:none;
        outline:none;
    }
    #signUpInput:hover {
        color:#feda6a;;
    }
}

#logInForm {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
    input {
        width:20vw;
        margin: .3em 0;
        padding:.2em .3em;
        border:none;
        border:1px solid black;
    }
    #logInInput {
        border:none;
        outline:none;
    }
    #logInInput:hover {
        color:red;;
    }
}

#closeModal {
    width:2em;
    border:none;
    font-size: 1.5em;
    outline:none;
}

#closeModal:hover {
    color:red;
}