#header-nav {
    margin: 0 2em;
    ul {
        display:flex;
        a {
            text-decoration:none;
            margin: 0 1.5em;
            color:#7b7b7b;
            font-size:1.3em;
            text-transform: uppercase;
            font-family: 'Open Sans Condensed', sans-serif;
            letter-spacing:2px;
            &:hover {
                color:#feda6a;
            }
        }
    }
}

#myForm{
    button {
        border:none;
        outline:none;
        background-color:black;
    }
    input {
        margin-left:1.5em;
        padding:.2em .3em;
        border:none;
        background-color:black;
        border-bottom: 1px solid white;
        outline:none;
        color:white;
    }
    .fa-search {
        background-color:black;
        color:white;
        &:hover {
            color:#feda6a;
        }
    }
}


