$display: flex;

.profilePic{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.userProfInfo{
    display: $display;
}

.userName{
    margin:1em; 
    width: 25%;
}
