.userProfInfo{
    display: flex;
    padding-top:6em;
    padding-bottom:7em;
    background-color:black;
    .userName{
        margin:3em; 
        width: 25vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            font-family:'Oranienbaum', serif;
            margin:.25em 0;
            letter-spacing:2px;
            text-align:center;
            color:rgba(255, 255, 255, 0.701);
        }
    }
    .profilePic{
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom:3em;
        opacity:.7;
    }
}






