#myForm{
    button {
        border:none;
    }
    button:hover {
        color: red;
    }
    input {
        padding:.2em .3em;
        border:none;
        border-bottom:1px solid black;
    }
}
