header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.9em;
  text-transform: uppercase;
  margin-left: 1em;
  letter-spacing: 4px;
}

#navAndSearch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
}

#footer-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
  align-items: flex-end;
  padding-bottom: 0.5em;
}

.Modal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#signIn {
  border: none;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
}

#signIn:hover {
  color: red;
}

#signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}
#signUpForm input {
  width: 20vw;
  margin: 0.3em 0;
  padding: 0.2em 0.3em;
  border: none;
  border: 1px solid black;
}
#signUpForm #signUpInput {
  border: none;
}
#signUpForm #signUpInput:hover {
  color: red;
}

#logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}
#logInForm input {
  width: 20vw;
  margin: 0.3em 0;
  padding: 0.2em 0.3em;
  border: none;
  border: 1px solid black;
}
#logInForm #logInInput {
  border: none;
}
#logInForm #logInInput:hover {
  color: red;
}

#closeModal {
  width: 2em;
  border: none;
  font-size: 1.5em;
}

#closeModal:hover {
  color: red;
}

#cityPage {
  display: flex;
  width: 100vw;
  margin: 2em;
}

.Modal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#signIn {
  border: none;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
}

#signIn:hover {
  color: red;
}

#signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}
#signUpForm input {
  width: 20vw;
  margin: 0.3em 0;
  padding: 0.2em 0.3em;
  border: none;
  border: 1px solid black;
}
#signUpForm #signUpInput {
  border: none;
}
#signUpForm #signUpInput:hover {
  color: red;
}

#logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}
#logInForm input {
  width: 20vw;
  margin: 0.3em 0;
  padding: 0.2em 0.3em;
  border: none;
  border: 1px solid black;
}
#logInForm #logInInput {
  border: none;
}
#logInForm #logInInput:hover {
  color: red;
}

#closeModal {
  width: 2em;
  border: none;
  font-size: 1.5em;
}

#closeModal:hover {
  color: red;
}

#landingPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#landingPage h1 {
  margin-top: 2em;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3.5em;
  letter-spacing: 4px;
}
#landingPage #carousel-container {
  width: 100vw;
  height: 80vh;
}
#landingPage #carousel-container img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}
#landingPage #section-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 6em;
}
#landingPage #section-container div {
  display: flex;
  flex-direction: column;
  margin: 0 3em;
  justify-content: flex-end;
  align-items: center;
}
#landingPage #section-container h2 {
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  letter-spacing: 4px;
}
#landingPage #section-container p {
  font-family: "Oranienbaum", serif;
  font-size: 1.5em;
}

aside {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
}
aside h1 {
  margin: 1em 0 0 2em;
  font-family: "Oranienbaum", serif;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

article {
  margin-top: 2em;
  width: 60vw;
}

aside li {
  list-style: none;
  padding: 1em 1.2em;
  margin: 1em 0;
  width: 20vw;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
aside li img {
  width: 5vw;
  height: 5vh;
  border: 0.1em solid black;
}
aside a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  padding-left: 1em;
  text-transform: uppercase;
  font-family: "Oranienbaum", serif;
  letter-spacing: 2px;
}

.cityHeaderWrapper {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  margin-bottom: 3em;
}

.cityHeaderImage {
  border: 0.1em solid black;
  width: 40vw;
  margin: 2em;
}

.cityHeaderText {
  margin-top: 3em;
  margin-left: 2em;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.cityHeaderText h1 {
  font-family: "Oranienbaum", serif;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}
.cityHeaderText h3 {
  font-family: "Oranienbaum", serif;
  letter-spacing: 2px;
  text-align: center;
  margin: 0.5em 0 0 0;
}

.cityPostsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
}
.cityPostsHeader a {
  color: black;
  text-decoration: none;
  font-size: 3em;
}
.cityPostsHeader h1 {
  font-family: "Oranienbaum", serif;
  letter-spacing: 2px;
  text-align: center;
}

.postContainer {
  display: flex;
  margin: 2em;
  padding: 1em;
}

.postContent {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.postContent h2 {
  text-transform: uppercase;
  font-family: "Oranienbaum", serif;
  font-size: 1.5em;
  letter-spacing: 4px;
}
.postContent p {
  font-family: "Oranienbaum", serif;
  font-size: 1.2em;
}

.postImage {
  width: 20vw;
  border: 0.1em solid black;
  margin: 0 2em;
}

#addPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4.5em 0;
}
#addPost input {
  width: 20vw;
  margin: 0.3em 0;
  padding: 0.2em 0.3em;
  border: none;
  border: 1px solid black;
}
#addPost textarea {
  width: 20vw;
  margin: 0.3em 0;
  padding: 0.2em 0.3em;
  border: none;
  border: 1px solid black;
}
#addPost #addPostInput {
  border: none;
}
#addPost #addPostInput:hover {
  color: red;
}

#closeModal {
  width: 2em;
  border: none;
  font-size: 1.5em;
}

#closeModal:hover {
  color: red;
}

#plus {
  border: none;
  font-size: 2.5em;
}
#plus:hover {
  color: red;
}

.userProfInfo {
  display: flex;
  margin-top: 6em;
  margin-bottom: 7em;
}
.userProfInfo .userName {
  margin: 3em;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userProfInfo .userName h2 {
  font-family: "Oranienbaum", serif;
  margin: 0.25em 0;
  letter-spacing: 2px;
  text-align: center;
}
.userProfInfo .profilePic {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 3em;
}

.userPosts {
  width: 50vw;
}
.userPosts h3 {
  text-transform: uppercase;
  font-family: "Oranienbaum", serif;
  font-size: 2em;
  letter-spacing: 4px;
}

#header-nav {
  margin: 0 2em;
}
#header-nav ul {
  display: flex;
}
#header-nav ul li {
  list-style: none;
  margin: 0 1em;
}
#header-nav ul li a {
  color: black;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
}
#header-nav ul li a:hover {
  color: red;
}

#myForm button {
  border: none;
}
#myForm button:hover {
  color: red;
}
#myForm input {
  padding: 0.2em 0.3em;
  border: none;
  border-bottom: 1px solid black;
}

/*# sourceMappingURL=index.css.map */
